.header{
    background-color: rgb(0, 25, 0);
    margin: -20px;
    padding: 18px;
    font-family:Arial, Helvetica, sans-serif;
    position: fixed;
    top: 20px;
    width: 100%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    text-align: center;
    color: white;  
}
.logo{
    position: absolute;
    right: 5%; top: 0%;
}
.content{
    margin-top: 160px;
    text-align: center;
    color: white;
    font-family:Arial, Helvetica, sans-serif
}
html{
    background-color: rgb(0, 25, 0);
}